/L02_ClickingButtons.class
/L03_SendingData.class
/L04_CheckBoxes.class
/L05_ButtonEnabled.class
/L06_SelectDropdown.class
/L07_Alerts.class
/L08_RadioButtons.class
/L09_Assertion_pt1.class
/L10_Assertion_pt2.class
/L11_Popups.class
/L12_Accordion.class
/L13_HiddenElements.class
